* {
    padding: 0;
    margin: 0;
}

.index {
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 1000px;
    height: 600px;
    display: flex;
    justify-content: center;
    box-shadow: 
        0 24px 38px 3px rgba(0, 0, 0, 0.14),
        0 9px 46px 8px rgba(0, 0, 0, 0.12), 
        0 11px 15px -7px rgba(0, 0, 0, 0.2);
}

.container img {
    width: 100%;
    z-index: -2;
}

button {
    height: auto;
    width: 50px;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

button .arrow {
    border: solid #fff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 8px;
    transform: rotate(45deg);
    transition: transform 0.3s ease, opacity 0.3s ease;
}

#right-btn .arrow {
    transform: rotate(-45deg);
}

#left-btn .arrow {
    transform: rotate(135deg);
}

button:hover .arrow {
    opacity: 0.7;
    transform: scale(1.1);
}
